/* Style Navbar */
.navbar{
    box-shadow: 0px 3px 6px #C1C3C736;
    color: #19345E;
}
.bartext{
    color: #19345E;
    font-weight: bold;
}
.contact-button{
    margin-left: 50px;
    width: 130px;
}
.nav-item>a:hover{
    color: #F47522;
}

/* style content atas */
.line{
    width: 35px; 
    height: 2px; 
    border-color: #F47522; 
    background-color: #F47522; 
    opacity: 1;
}
.blog-title{
    width: 500px;
}
.blog-title-text{
    font-size: 45px;
    text-align: center; 
    color: #19345E;
}

/* style content bawah */
.contact{
    font-size: 18px;
    color: #19345E;
    font-family: 'Poppins', 'Regular';
}
.image img{
    width: 15px;
    height: 15px;
}
.medsos img{
    width: 25px;
    height: 25px;
}

/* style section form */
.wpform-required-label{
    color: #ff0000;
    font-weight: 400px;
}

/* style button */
.col-auto img{
    width: 20px;
    height: 20px;
}
.btn1{
    border: 1px solid #19345E;
    border-radius: 50px;
    background-color: #F47522;
    color: #fff;
    font-family: 'Muli', 'Bold';
    font-size: 16px;
    width: 205px;
    height: 40px;
    padding: 10px 25px;
    transition: all 1s;
}
.btn1:hover{
    color: #fff;
    background-color: #19345E;
    text-decoration: none;
}

/* style footer */
.footer{
    padding-top: 30px;
    background: #19345E;
}
.logo-socmed{
    width: 20px;
    
}
.socmed{
    font-size: 14px;
    font-weight: lighter;
}
.copyright{
    font-size: 14px;
}