/* style navbar */
.navbar{
    box-shadow: 0px 3px 6px #C1C3C736;
    color: #19345E;
}
.bartext{
    color: #19345E;
    font-weight: bold;
}
.contact-button{
    margin-left: 50px;
    width: 130px;
}
.nav-item>a:hover{
    color: #F47522;
}

/* style footer */
.footer{
    padding-top: 30px;
    background: #19345E;
}
.logo-socmed{
    width: 20px;
    
}
.socmed{
    font-size: 14px;
    font-weight: lighter;
}
.copyright{
    font-size: 14px;
}


/* CSS HOME PAGE */
    /* Section jumbotron in home page */
    .jumbotron{
        width: 100%;
        height: 100%;
    }
    .box-jumbotron{
        padding-top: 150px;
        background-color: #EDF6FF;
        height: 900px;
    }
    .group{
        width: 420px;
        height: 420px;
    }
    .img-jt{
        padding-right: 50px;
        padding-top: 100px;
    }
    .text-jt{
        padding-top: 150px;
        width: 456px;
        padding-left: 0px;
    }
    .h3{
        font-size: 25px;
        color: #19345E;
        font-family: 'Muli', 'Bold';
    }
    .h1{
        font-size: 45px;
        color: #19345E;
        font-family: 'Muli', 'Bold';
    }
    .alter{
        font-size: 45px;
        color: #F47522;
        font-family: 'Muli', 'Bold';
    }
    .text-p{
        font-size: 17px;
        color: #19345E;
        font-family: 'Muli', "Bold";
    }
    .col-auto img{
        width: 20px;
        height: 20px;
    }
    .btn1 span{
        margin-right: 7px;
    }
    .btn1{
        border: 1px solid #F47522;
        border-radius: 50px;
        background-color: #F47522;
        color: #fff;
        font-family: 'Muli', 'Bold';
        font-size: 16px;
        width: 205px;
        height: 40px;
        padding-left: 25px;
        padding-right: 25px;
        transition: all 1s;
    }
    .btn1:hover{
        color: #fff;
        background-color: #19345E;
        text-decoration: none;
    }
    /* Section support in home page */
    .support{
        border-radius: 100px;
        box-shadow: 0px 3px 6px #00000029;
    }
    .reward{
        border-radius: 40px;
    }
    .reward img{
        width: 25px;
        height: 25px;
        border-radius: 40px;
        background-color: #F47522;
    }
    /* Section about in home page */
    .about-title{
        width: 350px;
    }
    .about-title-text{
        font-size: 45px; 
        color: #19345E;
    }
    .line{
        width: 100%; 
        height: 2px; 
        border-color: #F47522; 
        background-color: #F47522; 
        opacity: 1;
    }
    .about{
        width: 100%;
        height: 100%;
        background: url("ASSETS FINAL PROJECT HTML-CSS/bg-people@2x.png") no-repeat center center;
        text-align: center;
        background-size: cover;
        background-blend-mode: overlay;
        color: white;
    }
    .color-overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(25,52,94, 0.7);
    }
    .about-text{
        padding-top: 145px;
        padding-bottom: 145px;
    }
    .about-para{
        font-size: 18px;
    }

    /* Section teams in home page */
    .team-title{
        width: 510px;
    }
    .team-title-text{
        font-size: 45px; 
        color: #19345E;
    }
    .team-p{
        font-size: 17px;
        color: #19345E;
    }
    .at-team_img img{
        width: 225px;
        height: 265px;
    }
    .at-team .at-team_img {
        position: relative;
        padding-top: 25px;
        margin-bottom: 30px;
        z-index: -1;
    }
    .at-team .at-team_img::after {
        position: absolute;
        content: "";
        width: 225px;
        height: 265px;
        border: 10px solid #F47522;
        left: 40px;
        top: 14%;
        z-index: 999;
    }
    .at-team_p{
        text-align: center;
    }
    .at-team_p .p1{
        font-size: 20px;
        color: #F47522;
        font-family: 'Roboto', 'Bold';
        margin-bottom: 2px;
    }
    .at-team_p .p2{
        font-size: 17px;
        color: #19345E;
        font-family: 'Poppins', 'Regular';
    }
    .middle-team{
        margin-top: -30px;
    }
    .middle-team .at-team .at-team_img img{
        box-shadow: 0px 10px 10px #19345E8E;
    }
    .middle-team .at-team .at-team_img::after{
        border: 10px solid #19345E;
    }
    .check-now{
        text-decoration: none;
        color: #19345E;
    }
    .check-now:hover{
        color: #F47522;
    }
    .check-now img{
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }

    /* Section blog in home page */
    .blog-title{
        width: 500px;
    }
    .blog-title-text{
        font-size: 45px; 
        color: #19345E;
    }
    .img-blog{
        border-radius: 5px;
    }
    .blog-content-t{
        margin-top: 31px; 
        color: #19345E;
        margin-bottom: 10px;
    }
    .blog-content-t>h3{
        font-size: 20px;
    }
    .blog-content-d{
        font-size: 14px; 
        color: #707070;
    }
    .read-more{
        color: #F47522;
    }
    .read-more:hover{
        color: #19345E;
    }